aldryn-apphooks-config>=0.4.0
aldryn-boilerplates
aldryn-common>=0.0.6
aldryn-translation-tools>=0.2.1
django-appconf
django-appdata>=0.2.0
django-bootstrap3
django-cms>=3.4
django-extended-choices
django-filer
django-parler>=1.6.1
django-sortedm2m>=1.2.2
django-standard-form>=1.1.1
django-tablib @ git+https://github.com/softformance/django-tablib@master#egg=django-tablib
djangocms-text-ckeditor
python-dateutil
six
Django>=1.11
